NODE_ENV=development
PORT=3000

DATABASE_URL=

JWT_SECRET=
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:5173/orders/success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:5173/checkout
STRIPE_CURRENCY=usd

COINGATE_API_TOKEN=
COINGATE_API_URL=https://api-sandbox.coingate.com/v2
COINGATE_CALLBACK_URL=http://localhost:3000/v1/payments/coingate/webhook
COINGATE_SUCCESS_URL=http://localhost:5173/orders/success
COINGATE_CANCEL_URL=http://localhost:5173/checkout
COINGATE_RECEIVE_CURRENCY=USD
